/*
Theme Name: emagid
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: emagid
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

emagid is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# General
# About
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@font-face {
	font-family: 'Frutiger LT 45';
	src: url('/wp-content/themes/emagid/assets/fonts/FrutigerLT-Light.eot');
	src: url('/wp-content/themes/emagid/assets/fonts/FrutigerLT-Light.eot?#iefix') format('embedded-opentype'),
		url('/wp-content/themes/emagid/assets/fonts/FrutigerLT-Light.woff2') format('woff2'),
		url('/wp-content/themes/emagid/assets/fonts/FrutigerLT-Light.woff') format('woff'),
		url('/wp-content/themes/emagid/assets/fonts/FrutigerLT-Light.ttf') format('truetype'),
		url('/wp-content/themes/emagid/assets/fonts/FrutigerLT-Light.svg#FrutigerLT-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Frutiger LT Std';
	src: url('FrutigerLTStd-Bold.eot');
	src: url('FrutigerLTStd-Bold.eot?#iefix') format('embedded-opentype'),
		url('FrutigerLTStd-Bold.woff2') format('woff2'),
		url('FrutigerLTStd-Bold.woff') format('woff'),
		url('FrutigerLTStd-Bold.ttf') format('truetype'),
		url('FrutigerLTStd-Bold.svg#FrutigerLTStd-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}


body, html, a, h1, input, input::placeholder, textarea, li, p {
   font-family: 'Frutiger LT 45'; 
    color:#484848;
}
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
iframe {
    pointer-events: none;
}

body {    
font-size: 1rem;
    line-height: 1.5;
    color: #282a2b !important;
    background-color: #fff;
    font-weight: 400!important;
}

button {
    outline: 0;
}
ul, li {
    list-style-type: none;
    padding: 0;
}

/*header*/
.float_right {
    float: right;
}
#contact_number p a {
    color:#fff !important;
    
}
.translate_bar{
    background: #ccbf95 ;
    position: fixed;
    top: 0;
    z-index: 4;
    width: 100%;
    padding-left: 5em;
    padding-right: 5em;
        padding-top: 12px;
    height: 50px;
}
.translate_bar p {
    color: #000;
    font-size: 16px;
    display: inline-block;
    margin-bottom: 0;
}
.translate_bar p.tel {
    padding-left: 20px;
}
.translate_bar p a {
    color:#000;
}
#contact_number p {
    font-size: 16px;
    padding-top: 1px;
}
.translate_bar aside#secondary {
    display: inline-block;
}
.translate_bar .qtranxs_widget ul {
    padding: 0;
    padding-left: 8px;
}
.translate_bar .qtranxs_widget ul li {
    opacity: 0.8 !important;
}
.qtranxs_widget ul li.active {
    opacity: 1 !important;
}
.translate_bar .qtranxs_widget ul li a {
    color: #000;
    font-size: 12.5px;
    display: inline-block;
    margin-bottom: 0;
}

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
    height: 100px;
    top: 50px;
}
 
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
}
 
.header li a {
  display: block;
  padding: 20px 20px 10px;
  text-decoration: none;
  text-transform: uppercase;
    font-size: 14.5px;
    color:#fff;
}
.header li a:hover {
    border-bottom: 2px solid #ccbf95;
}
.header .container {
    width: 96%;
    margin: 0 auto;
}

[id*=gpr_widget] .gpr-business-header .gpr-header-content-wrap {
    margin: 0 !important;
}
.gpr-business-avatar {
    display: none !important;
}
[id*=gpr_widget] div.gpr-review-content>p {
    margin: 0 !important;
}
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}
div#responsive-menu-wrapper {
    margin-top: 120px !important;
}

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
    display: none !important;
}
 
.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}
 
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
 
.header .menu-icon .navicon:before {
  top: 5px;
}
 
.header .menu-icon .navicon:after {
  top: -5px;
}

.header .menu-btn {
  display: none;
}
 
.header .menu-btn:checked ~ .menu {
  max-height: 240px;
    height: 240px;
}
 
.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
 
.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
 
.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
 
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

li.menu-item-has-children {
    position: relative;
}
ul.sub-menu {
    display: none;
    position: absolute;
    z-index: 9999;
    background-color: #ccbf95 !important;
    width: 200px;
    top:50px;
    padding-top: 15px;
    padding-bottom: 15px;
}
ul.sub-menu li a {
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: capitalize;
    color:#fff;
    font-weight: 100;
    cursor: pointer;
}

li.menu-item-has-children:hover ul.sub-menu {
    display: block;
}

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    color: #282a2b;
    cursor: pointer;
    transition: .5s;
  }

  .header li a:hover {
    opacity: .7;
    transition: .5s;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/*jumbotron*/
.slick-dots {
    bottom: auto !important;
}
.jumbotron {
    /*filter: brightness(70%);*/
    height:66.67vw;
    width: 100%;
    border-radius: 0;
    padding: 0 !important;
    margin-bottom: 0;
  }

 .background {
     height:66.67vw;
     width: 100%;
         background-size: 100%;
     background-repeat: no-repeat;
           display: flex;
  align-items: center;
  justify-content: center;
     padding-top: 200px;
     padding-right: 100px;
     text-align: right;
     margin-top: 130px;
  }

  .display-3 {
    text-transform: uppercase;
    font-size: 20px;
          text-align: right;
  }

.slick-dots li button:before {
    font-size: 12px !important;
}
.slick-next {
    right:60px !important;
    z-index: 999;
}
.slick-prev {
    left: 50px !important;
    z-index: 999;
}
.slick-prev:before, .slick-next:before {
    font-size: 45px !important;
    color:#ccbf95 !important;
}

  .jumbotron .secondheader {
    padding-top: .7em;
    padding-bottom: 1.3em;
      text-align: right;
      width: 55%;
      margin-right: 0;
      margin-left: auto;
      font-size: 22px;
      line-height: 1.75em;
      color:rgba(72, 72, 72, 0.8);
  }

  .jumbotron .btn-primary {
     background-color: #ccbf95;
     color: white;
     text-transform: uppercase;
      border: 0;
      font-size: 16px;
  }

  .btn-lg {
    padding: 0.9rem 2.5rem !important;
  }


/*welcome*/

.container-welcome {
  display: block;
    width: 78%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 7em;
    text-align: center;

}
.container-welcome p {
    text-align: center !important;
}
.container-welcome > div {
    display: block;
    width: 100%;
    margin: 0 auto;
}
.container-welcome .picture img {
    width:100%;
}
.welcome h1 {
  text-align: center;
  font-weight: 700;
    font-size: 2.65em;
    letter-spacing: 0;
}

.welcome p {
 font-weight: 300;
    line-height: 2em;
}

.text .btn-primary,
.picture .btn-primary{
    background-color: #ccbf95;
    color: white;
    text-transform: uppercase;
    border: 0;
    margin-top: 15px;
    font-size: 16px;
}
.jumbotron h1 {
    font-family: 'Cinzel', serif !important;
    font-weight: 700;
}


/*area of experience*/

.areaofexpertise {
  background-color: #fff;
  padding-top: 5em;
       display: block;
}
.areaofexpertise#attorney_page {
    padding-top: 0;
}
.areaofexpertise#template_page .areas_expertise div {
    margin-bottom: 30px;
}

.areaofexpertise h1 {
  text-transform:  uppercase;
     font-size: 25px;
    letter-spacing: 1.75px;
    text-align: center;
}
.row.areas_expertise li.listing-item {
    min-height: 300px;
}
.row.areas_expertise li.listing-item span.excerpt {
    font-size: 13px;
    line-height: 1.75em;
}
.row.areas_expertise li.listing-item a.title {
    font-size: 15px;
}

.practice_area_container .practice_area,
.areas_expertise .practice_area{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 242px;
    width: 31.3%;
    margin:1%;
    float: left;
    position: relative;    

}
.areas_expertise .practice_area {
    width: 100%;
    margin: auto;
}
.practice_area_container .practice_area .overlay,
.areas_expertise .practice_area .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    
                   display: flex;
  align-items: center;
  justify-content: center;
    flex-direction: column;
        -moz-transition:background .2s ease-in;
    -o-transition:background .2s ease-in;
    -webkit-transition:background .2s ease-in;
    background: rgba(72, 72, 72, 0.3);
}
.practice_area_container .practice_area .overlay p,
.areas_expertise .practice_area .overlay p {
    color:#fff;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    margin-top: 20px;
}
.practice_area_container .practice_area .overlay img,
.areas_expertise .practice_area .overlay img{
    width:32px;
}
.practice_area_container .practice_area .overlay:hover,
.areas_expertise .practice_area .overlay:hover{
    background: rgba(72, 72, 72, 0.6);
}

.practice_area_container {
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 95%;
    margin: 0 auto;
}
hr.style1{
  border-top: 1px solid rgba(72, 72, 72, 0.8);
  width: 150px;
    padding-top: 10px;
    margin: 20px auto;
}

.thumbnail img {
    width: 100%;
}

.inside {
 background-color: rgba(0, 0, 0, 0.7);
 position: relative;
    color: white;
  height: 4em;
    width: 100%;
    margin-top: -4em;
     text-transform: uppercase;
     text-align: center;
     padding-top: .9em;
}

.container_test {
    padding-top: 75px;
}
.areaofexpertise .testimonials h1{
  text-align: center;
  margin-top: 2em;
}
.clear_row {
    width: 100%;
    display: block;
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
}
.view_btn {
        background-color: #ccbf95;
    color: white;
    text-transform: uppercase;
    border: 0;
    margin-top: 15px;
    font-size: 16px;
}
.view_btn:hover {
    background-color: #ccbf95;
}
div#testimonials {
    text-align: center;
    background-color: rgba(228, 218, 206, 0.6);
    padding-top: 75px;
    padding-bottom: 75px;
}
.review_block {
    width: 100%;
    overflow: hidden;
}
.review_block div.review_image {
    width: 30%;
    float: left;
    text-align: center;
}
.review_block div.review_image img {
    width: 110px;
    margin: 0 auto 15px;
}
.review_block div.review_image img.stars {
    width: 90px;
}
.review_block div.review_image p {
    font-weight: bold;
    letter-spacing: 0.75px;
}
.review_block div.review_text {
    width: 65%;
        margin-left: 5%;
    float: left;
    text-align: left;
}
.review_block div.review_text p {
    width: 85%;
}
.whitebox {
  margin-top: 5em;
  background-color: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(227,218,227,1);
-moz-box-shadow: 10px 10px 5px 0px rgba(227,218,227,1);
box-shadow: 10px 10px 5px 0px rgba(227,218,227,1);
    padding-bottom: 1em;
    padding: 20px;
}

.whitebox p {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  font-weight: 300i;
  font-size: 1.3em;
  font-style: italic;
}

.span {
  font-size: 5em;
}

.areaofexpertise h4 {
  text-align: center;
  text-transform: capitalize;
  color: #27333c;
  font-weight: 700;
}

.areaofexpertise h5 {
  text-align: center;
  text-transform: capitalize;
  color: #27333c;
  font-weight: 200;
}


/*INNER PAGE FORMAT*/

    .inner_page_wrapper {
        width: 80%;
        margin: 0 auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .inner_page_wrapper li {
        list-style-type: none;
    }

/*MAP AND OFFICES*/


.container-fluid.map{
    overflow: hidden;
}

.container-fluid.map iframe {
    float: left;
    padding: 20px 30px 40px;
}
.offices {
  background-color: #eeeeee;
    padding-bottom: 2em;
    margin-top: -1em;
}

.offices h1 {
  text-transform: capitalize;
   color: #27333c;
   font-weight: 400;
   text-align: center;
   padding-top: .7em;
}

.callemail {
  display: grid;
  grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  width: 30%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1em;
}

.callemail .btn-primary {
    background-color: #27333c;
    color: white;
    border-color: #27333c;
}

.callemail .btn-primary:hover {
  background-color: white;
  color: #27333c;
  border-color: #27333c;
}

.callemail .btn-lg {
    padding: .5rem 1.9rem !important;
}

/* contactus form */
.contact_section {
    overflow: hidden;
    
}

/*
.contactus {
  padding-top: 5em;
    padding-bottom: 5em;
}

.contactus h1 {
  text-align: center;
   color: #27333c;
   text-transform: uppercase;
   font-size: 1.5em;
   padding-bottom: 2em;
}
.contactus div.wpcf7 {
    text-align: center;
    display: block;
    width: 60%;
    margin: 0 auto;
}
.contactus div.wpcf7 input[type=text],
.contactus div.wpcf7 input[type=email],
.contactus div.wpcf7 textarea{
        line-height: 2.5;
    padding: .9rem .75rem !important;
    border: 1px solid #27333c !important;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-
}
.contactus div.wpcf7 input[type=submit] {
    display: block;
    margin: 0 auto;
        padding: .5rem 1.9rem !important;
        background-color: #27333c;
    color: white;
    border-color: #27333c;
        font-size: 1.25rem;
    border-radius: .3rem;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
        user-select: none;
    border: 1px solid transparent;
        -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.contactus div.wpcf7 input[type=submit]:hover {
    background-color: white;
    color: #27333c;
    border-color: #27333c;
    cursor:pointer;
}
*/



/*CONTACT US PAGE*/

.contact_page_container {
    width: 100%;
    overflow: hidden;
    padding-top: 151px;
}
.contact_maps {
    float: left;
    width: 55%;
}
.contact_text {
    float: left;
    width: 45%;
}

.contact_switcher {
    width: 400px;
    margin: 0 auto;
    overflow: hidden;
    background: #fff;
    border:1px solid #ccbf95;
}
.contact_switcher .switch {
    width: 50%;
        float:left;
    text-align: center;
    height: 45px;
}

.contact_switcher .switch h4 {
        font-size:15px;
    padding-top: 15px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color:#ccbf95;
}
.contact_switcher .switch.selected {
    background-color: #ccbf95;
}
.contact_switcher .switch.selected h4 {
    color: #fff;
}
.contact_switcher .switch:hover {
    cursor: pointer;
    background-color: #ccbf95;
}
.contact_switcher .switch:hover h4 {
    color:#fff;
}

.contact_area {
    width: 400px;
    margin: 0 auto;
    padding-top: 50px;
}
.contact_area .address {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}
.contact_area .address p {
    color:rgba(0, 0, 0, 0.5);
    padding-left: 75px;
}
.contact_area .address.selected:before {
    content: url('/wp-content/themes/emagid/assets/img/arrow_path.png');
    position: absolute;
    left: 0;
    top:27px;
}
.contact_area .address:hover {
    cursor: pointer;
}
.contact_area .address:hover:before {
        content: url('/wp-content/themes/emagid/assets/img/arrow_path.png');
    position: absolute;
    left: 0;
    top:27px;
}
.contact_area .address.selected p{
    color:#000;
}

.contact_area .address:hover p {
    color:#000;
}
.contact_form.home_contact {
    width: 90%;
    max-width: 450px;
    margin: 0 auto;
}
.contact_form input[type="text"],
.contact_form input[type="email"]{
    width: 100%;
    padding: 5px 10px;
    font-size: 13.5px;
    text-transform: uppercase;
    color:#484848;
    border: 1px solid #c4c4c4;
}
.contact_email {
    margin: 20px auto;
    text-align: center;
}
.contact_email p {
    margin-bottom: 0;
}

.contact_form input[type="submit"] {
    background-color: #ccbf95;
    color: white;
    text-transform: uppercase;
    border: 0;
    border-radius: 3px;
    font-size: 13px;
    padding: 10px;
    width: 150px;
    text-align: center;
}
.contact_form textarea {
    width: 100%;
    padding: 5px 10px;
    font-size: 13.5px;
    text-transform: uppercase;
    color:#484848;
    border: 1px solid #c4c4c4;
}
.contact_form textarea::-webkit-input-placeholder,
.contact_form textarea::-moz-placeholder,
.contact_form textarea:-moz-placeholder{
    color:#484848;
}


/*CONTACT US PAGE END*/

.container-fluid {
  padding:0px !important;
}
.form-horizontal {
    width: 60%!important;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
    }

    .form-control {
    line-height: 2.5;
    padding: .9rem .75rem !important;
    border: 1px solid #27333c !important;
  }

.col-sm-2 {
  font-size: 1.3em!important;
    max-width: 100% !important;
    font-weight: 200;
}

:focus {
    outline: none!important;
}

.form-group {
    margin-bottom: 2.3rem !important;
}

.form-group .btn-secondary {
  border-color: #27333c;
}

.form-group .btn-secondary:hover {
    color: white;
    background-color: #27333c;
    border-color: #27333c;
}

/*footer*/

footer .container-fluid {
      background-color: #454545;
}

footer .container {
    
    padding-top: 1em;
   width: 90%;
    overflow: hidden;
}
footer .container > div {
    width: 25%;
    float: left;
}
footer .container .four {
    display: flex;
  align-items: center;
  justify-content: center;
    flex-direction: column;
    height: 200px;
}
footer .container .four img {
    width: 100%;
    
    max-width: 175px;
    margin: 0 auto 20px;
}
.social-links {
  padding-top: 1em;
    text-align: center;
    width: 200px;
}

footer ul {
  list-style: none !important;
    -webkit-padding-start: 0px;
}
footer h4 {
        color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.75px;
    margin-bottom: 15px;
}
footer ul li {
        font-family: 'Frutiger LT 45';
    color: rgba(246, 246, 246, 1);
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.6px;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
footer a {
    color: rgba(246, 246, 246, 1);
}
footer a:hover {
    color:#fff;
}
.first img {
  width: 200px;
  padding-top: 2em;
}

.address li {
  color: white;
  text-transform: capitalize;
}


.container .second .fird ul li {
  display: inline;

}
.social-links li {
    display: inline-block;
}
.social-links li a{
  color: white;
  transition: .5s;
}

.social-links li a:hover {
  opacity: .3;
  transition: .5s;
}

.fird h2 {
  color: #808285;
  text-transform: uppercase;
  font-size: 1em;
}

.fird li a {
  text-transform: capitalize;
  font-size: .9em;
  transition: .5s;
  color: white;
}

.fird ul {
    line-height: 1.5em !important;
}

.fird li a:hover {
  text-decoration: none!important;
  opacity: .7;
  transition: .5s;
}

.four {
  padding-left: 3em;
}

.four h2 {
  color: #808285;
  text-transform: uppercase;
  font-size: .9em;
  transition: .5s;
}

.four h2:hover {
  opacity: .7;
  transition: .5s;
}

 a:hover {
  text-decoration: none!important;
 }

 .four .btn-secondary {
  margin-bottom: 1em;
  background-color: #27333c;
  color: white;
     width:140px;
 }
.four .btn-secondary a {
    color:#fff;
}

 .copyright {
  background-color: #454545;
  color: white;
  font-size: .8em;
    text-align: right;
     padding-top: 1em;
     padding-bottom: 1em;
     padding-right: 5%;
     display: none;
 }
.third {
    padding-top: 10px;
}
.third img {
    width: 200px;
    margin: 0 auto 20px;
}
.fa {
  padding-right: .3em;
}


/*--------------------------------------------------------------
# News / Articles
--------------------------------------------------------------*/
section#blog_posts {
    width: calc(100% - 400px);
        margin-right: auto;
    margin-left: 0;
    min-height: 700px;
    margin-bottom: 50px;
}
section#blog_posts .articles {
    display: none;
}
section#blog_posts h3 {
    text-transform: uppercase;
    margin-bottom: 40px;
}
       .container.articles {
           width: 100%;
       }
       .article_post {
           overflow: hidden;
           width: 100%;
           margin: 0 auto;
       }
       ul.display-posts-listing {
           margin: 0;
           padding: 0;
       }
li.listing-item  {
        width: 100%;
    padding: 20px 30px 0;
    float: left;
    list-style-type: none;
    margin-bottom: 30px;
    background-color: #f6f6f6;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 1px 1px 4px;
    border-radius: 2px !important;
    padding-bottom: 15px;
}
.article_page_container {
    padding-top: 150px;
}
  div.articles li.listing-item {
           width:99%;
           padding: 20px 30px 0;
           float: left;
           list-style-type: none;
            margin-bottom: 30px;
           padding-bottom: 15px;
            transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
           border-bottom: 1px solid #ccbf95;
      padding-bottom: 100px; 
       }

       li.listing-item a.title {
           display: block;
           color:#000;
           font-weight: bold;
           font-size: 20px;
       }
       li.listing-item span.date,
       li.listing-item span.author{
           font-size: 13.5px;
           color:rgba(72, 72, 72, 0.6);
       }
       li.listing-item span.excerpt {
           display: block;
           margin-top: 20px;
       }
div.articles .article_post li.listing-item span.excerpt a {
    float: right;
    margin-top: 30px;
        background-color: #ccbf95;
    color: white;
    text-transform: uppercase;
    border: 0;
    border-radius: 3px;
    font-size: 13px;
    padding: 10px;
    width: 150px;
    text-align: center;
}
       li.listing-item span.excerpt-dash {
           display: none;
       }
    section.blog_sidebar {
        position: absolute;
            width: 300px;
    padding: 20px 40px 0;
    list-style-type: none;
    margin-bottom: 50px;
    background-color: rgb(255, 255, 255);
    }
section.blog_sidebar label {
    display: none;
}
section.blog_sidebar h2.widget-title {
    margin-top: 20px;
    font-size: 1.25em;
}
section.blog_sidebar ul {
    padding-left: 20px;
}
article.post {
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;
}
.entry-meta {
    margin-bottom: 40px;
}

time.updated {
    display: none;
}
div#comments {
      width: 80%;
    margin: 0 auto; 
    display: none;
}
div#comments p.logged-in-as {
    display: none;
}
div#comments label {
    display: block;
}
article.post footer.entry-footer,
nav.navigation.post-navigation{
    display: none;
}

p.form-submit input {
        background-color: #27333c;
    color: white;
    border-color: #27333c;
    text-transform: capitalize;
    font-weight: 300;
    padding: 1.1rem 1.9rem !important;
        font-size: 1.25rem;
    border-radius: .3rem;
    text-align: center;
    box-shadow: none;
}

       @media screen and (max-width:600px) {
          li.listing-item {
           width: 100%;
              float: none;
           margin-left: 0;
           margin-right: 0;
              height: auto;
              padding-bottom: 20px;
           }
       }





/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/


body {  
font-size: 1rem;
    line-height: 1.5;
    color: #282a2b !important;
    background-color: #fff;
    font-weight: 400!important;
}

/*header*/

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}
 
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
}
 
.header li a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}
 

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 15px 20px 0;
  text-decoration: none;
  width: 25%;
    max-width: 300px;
}
 
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
    padding-top: 10px;
}


.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
    display: none !important;
}
 
.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}
 
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
 
.header .menu-icon .navicon:before {
  top: 5px;
}
 
.header .menu-icon .navicon:after {
  top: -5px;
}

.header .menu-btn {
  display: none;
}
 
.header .menu-btn:checked ~ .menu {
  max-height: 240px !important;
}
.header .menu-btn:checked ~ .menu ul#menu-primary{
    max-height: 240px !important;
} 
.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
 
.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
 
.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
 
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.logo img {
  width: 100%;
}

.header h1 {
  font-weight: 600;
  font-size: 2em;
  position: relative;
  text-align: right;
  top: .3em;
    padding-right: 20px;
}
@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    color: #282a2b;
    cursor: pointer;
    transition: .5s;
  }

  .header li a:hover {
    opacity: .7;
    transition: .5s;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/*JUMBOTRON*/
.jumbotron#page_about {
  background-size: cover;
  background-repeat: no-repeat;
    background-position: top center;
  height: 650px;
  margin-top: 136px !important;
    padding-top: 136px;
    position: relative;
}

.jumbotron#page_about h1 {
  color: white !important;
  font-weight: bold;
  font-size: 1.75em;
    margin-top: 10px;
    text-align: center;
    background-color: #ccbf95;
    text-transform: uppercase;
    position: absolute;
    bottom: 35px;
    padding: 30px 60px;
}
.jumbotron#page_areas {
      background-size: cover;
  background-repeat: no-repeat;
    background-position: top center;
  height: 400px;
  margin-top: 136px !important;
    padding-top: 136px;
}
h1.headline {
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 1.75px;
    text-align: center;
}
.qtranxs_widget img {
/*    display: none !important;*/
}

/*WELCOME SECTION*/
.welcome {
  padding: 5% 0 5%;
    background: #f6f6f6;
}
.welcome#attorney_page {
    padding-bottom: 0;
    background-color: #fff;
}
.welcome h2 {
  margin-bottom: 3%;
  font-weight: bold;
}

.welcome p {
  margin-bottom: 2%;
    font-size: 16px;
    text-align: left;
}

.welcome .container {
  padding: 0 7% ;
}


/*AREA OF PRACTICE SECTION*/
.area {
  overflow: hidden;
}

.banner {
  color: white;
  text-align: center;
  padding: 2%;
  background-color: #27333c;
}

.banner h2 {
  font-weight: bold;
    text-transform: uppercase;
}

a {
  text-decoration: none !important; 
}

.icon_box h3 {
  margin-top: 0 ;
  color: white ;
  font-weight: bold;
}

.icon_box {
  display: inline-block;
  text-align: center;
  padding: 10%;
  width: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.icon_box img {
  width: 20%;
  margin-top: 4%;
}

.icon_text {
  display: none;
  width: 100%;
  height: 100%;
  /*padding-top: 13%;*/
}

.mobile_text {
  color: white;
  margin: auto;
  margin-top: 5%;
  border-top: 2px solid white;
  padding: 5%;
  width: 70%;
}

.icon_text p {
  position: relative;
  top: 50%;
  display: inline-block;
  width: 70%;
  margin-left: 20%;
  margin-bottom: 0;
/*  transform: translateY(-50%);*/
}


#family_law {
  background-color: #3B8CA1;
  transition: background-color 1s;
}

#family_law:hover {
  background-color: #3b84a1;
}

#injury {
  background-color: #839298;
  transition: background-color 1s;
}

#injury:hover {
  background-color: #839098;
}

#bankruptcy {
  transition: background-color 1s;
  background-color: #3B8CA1;
}

#bankruptcy:hover {
  background-color: #3b84a1;
}

#car_accidents {
  transition: background-color 1s;
  background-color: #839298;
}

#car_accidents:hover {
  background-color: #839098;
}



@media screen and (min-width: 768px) {
  .jumbotron {
      margin: 0 !important;
  }

  .jumbotron h1 {
      font-size: 48px;
      letter-spacing: 1px;
      padding-bottom: 10px;
      margin-bottom: 25px;
  }

  .welcome .container {
    padding: 0 3% ;
      overflow: hidden;
  }

  .area {
    display: flex;
    align-items: center;
  }

  .mobile_text {
    display: none;
  }

  .icon_box h3 {
    margin-top: 0 ;
  }

  .icon_box {
    display: inline-block;
    padding: 6%;
    width: 50%;
  }

  .icon_box img {
    width: 30%;
  }

  .icon_text {
    display: inline-block;
    width: 50%;
  }
}



/*--------------------------------------------------------------
# ATTORNEYS PAGE
--------------------------------------------------------------*/


.attorney_overview {
    width: 100%;
    overflow: hidden;
    padding-bottom: 50px;
    
}


.attorney_bio {
    width: 100%;
    padding:50px;
    background-color: #f6f6f6;
    display: none;
}
.attorney_bio p {
    text-align: left;
}
.attorney_img h3 {
        color: white !important;
    font-weight: bold;
    font-size: 1.75em;
    margin-top: 10px;
    text-align: center;
    background-color: #ccbf95;
    text-transform: uppercase;
    position: absolute;
    bottom: 35px;
    padding: 30px 60px;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    width: 350px;
     border: 2px solid #ccbf95;
}
.attorney_img h3:hover {
    border: 2px solid #fff;
}
.attorney_img {
    width: 100%;
    height: 490px;
    background-size: cover;
    background-position: top center;
    position: relative;
}


.practice_area_scroll {
    text-align: center;
    padding-bottom: 2em;
}

.practice_area_scroll a.btn {
    background-color: #27333c;
    color: #fff;
    border-color: #27333c;
    text-transform: capitalize;
    font-weight: 300;
}
.practice_area_scroll a.btn:hover {
    background-color: #fff;
    color:#27333c;
}
.practice_areas_scroller {
    width: 90%;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    overflow: hidden;
}
.practice_areas_scroller > div {
    width: 25%;
    float: left;
    border-right: 2px solid rgba(192, 196, 198, 0.7);
    text-align: center;
}
.practice_areas_scroller > div:last-child {
    border: 0 !important;
}
.practice_areas_scroller > div img {
    padding: 30px;
    width: 50%;
    margin: 0 auto;
}
.practice_areas_scroller > div h3 {
    font-weight: bold;
    text-transform: uppercase;
    color:#2D3A44;
    font-size: 1.35rem;
}


/*--------------------------------------------------------------
# PRACTICE AREAS PAGE
--------------------------------------------------------------*/
section#practice_page {
    margin-top: 136px;
}

/*TABS*/
    div.tab_sidebar {
        position: absolute;
            width: 400px;
    padding: 20px 40px 0;
    list-style-type: none;
    margin-bottom: 50px;
    background-color: rgb(255, 255, 255);
        right:0;
    }

.tab_sidebar ul li {
    background-color:#f1f4f7;
    padding: 10px;
    padding-left: 15px;
    margin-bottom: 3px;
    cursor: pointer;
}
.tab_sidebar ul li:nth-child(1n) {
    border-left:5px solid #ccbf95;
}
.tab_sidebar ul li:nth-child(1n):hover,
.tab_sidebar ul li.active:nth-child(1n){
    background-color: #ccbf95;
    color:#fff;
}
.tab_sidebar ul li:nth-child(2n) {
    border-left:5px solid #454545;
}
.tab_sidebar ul li:nth-child(2n):hover,
.tab_sidebar ul li.active:nth-child(2n){
    background-color: #454545;
    color:#fff;
}
.tab_sidebar ul li:hover a {
    color:#fff;
}
.tab_sidebar .articles {
    background: #f1f4f7;
    padding: 20px;
    margin-bottom: 20px;
}
.tab_sidebar .articles div {
    padding-top: 15px;
    padding-bottom:30px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.tab_sidebar .articles div button {
    background-color: #ccbf95;
    color:#fff;
    border: 0;
    border-radius:3px;
    padding: 9px 12px;
    width: 120px;
    font-size: 12.5px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

/*TABBED CONTENT*/
section#tabbed_content {
    width: calc(100% - 400px);
    margin-right: auto;
    margin-left: 0;
    min-height: 1000px;
    margin-top: 65px;
    margin-bottom: 65px;
    padding-left: 60px;
}
section#tabbed_content h3 {
    text-transform: uppercase;
    margin-bottom: 50px;
}

section#tabbed_content .container {
    display: none;
}
.fusion-li-item-content,
.fusion-li-icon{
    display: inline-block;
    vertical-align: middle;
}
.fusion-li-item-content {
    width: 90%;
}