iframe {
    pointer-events: none;
}

body {
font-family: 'Raleway', sans-serif!important;    
font-size: 1rem;
    line-height: 1.5;
    color: #282a2b !important;
    background-color: #fff;
    font-weight: 400!important;
}

/*header*/

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}
 
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}
 
.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  text-transform: uppercase;
}
 
 
.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
  width: 20%
}
 
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}


.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}
 
.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}
 
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
 
.header .menu-icon .navicon:before {
  top: 5px;
}
 
.header .menu-icon .navicon:after {
  top: -5px;
}

.header .menu-btn {
  display: none;
}
 
.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}
 
.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
 
.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
 
.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
 
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.logo img {
  width: 130%;
}

.header h1 {
  font-weight: 900;
  font-size: 2em;
      position: relative;
    text-align: right;
    top: .3em;
}

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 20px;
    color: #282a2b;
    cursor: pointer;
    transition: .5s;
  }

  .header li a:hover {
    opacity: .7;
    transition: .5s;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/*jumbotron*/

.jumbotron {
    background-image: url('../img/main.jpg');
    /*filter: brightness(70%);*/
    height: 50em;
    width: 100%;
    background-size: cover;
  }

  .background {
    padding-top: 20%;
    text-align: center;
  }


  .display-3 {
    text-transform: uppercase;
    color: white;
    font-family: 'Playfair Display', serif;
    padding-top: 
    font-size: 3.5em;
  }

  .jumbotron .secondheader {
    color: white;
    font-family: 'Raleway', sans-serif;
    text-transform: capitalize;
    font-weight: 900;
    padding-top: .7em;
    letter-spacing: 1px;
    padding-bottom: 1.3em;
  }

  .jumbotron .btn-primary {
     background-color: #27333c;
     color: white;
     border-color: #27333c;
     text-transform: capitalize;
     font-family: 'Raleway', sans-serif;
  }

  .btn-lg {
    padding: 1.1rem 1.9rem !important;
  }

  .jumbotron .btn-primary:hover {
     background-color: white; 
     border-color: #27333c; 
     color:#27333c;
}

/*welcome*/

.container-welcome {
  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5em;

}
.welcome h1 {
  text-align: center;
  text-decoration: underline;
  font-weight: 700;
}

.welcome p {
 font-family: 'Raleway', sans-serif;
 font-weight: 300;
}

.welcome img {
  height: 20em;
}

.text .btn-primary {
     background-color: #27333c;
     color: white;
     text-transform: uppercase;
     font-family: 'Raleway', sans-serif;
     transition: .5s;
     margin-top: 2em;
     border-color: #27333c;
  }

  .text .btn-primary:hover {
    background-color: white;
    color:  #27333c;
  }

  .text .btn-lg {
    padding: .7rem 1rem !important;
    font-size: .9rem;
}

.picture .btn-primary {
  background-color: white;
     color: #27333c;
     text-transform: uppercase;
     font-family: 'Raleway', sans-serif;
     transition: .5s;
     border-color: #27333c;
       margin-top: 3em;
       font-weight: 700;
}

.picture .btn-primary:hover {
  color: white;
  background-color: #27333c;
  border-color: #27333c;
}

.picture .btn-lg {
  padding: .7rem 1rem !important;
    font-size: .9rem;
}

/*area of experience*/

.areaofexpertise {
  background-color: #eeeeee;
  padding-top: 3em;
  padding-bottom: 3em;
       margin-top: 3em;
       display: block;
}

.areaofexpertise h1 {
  text-transform:  capitalize;
   color: #27333c;
     font-family: 'Raleway', sans-serif;
     font-size: 2em;
     font-weight: 700;
}

hr.style1{
  border-top: 3px double #8c8b8b;
  width: 50%;
  float: left;
}

.thumbnail img {
    width: 100%;
}

.inside {
 background-color: rgba(0, 0, 0, 0.7);
 position: relative;
    color: white;
    font-family: 'Playfair Display', serif;
  height: 4em;
    width: 100%;
    margin-top: -4em;
     text-transform: uppercase;
     text-align: center;
     padding-top: .9em;
}

.area {
  margin-top:  5em;
}

.areaofexpertise .testimonials h1{
  text-align: right;
  margin-top: 5em;
}

.areaofexpertise .testimonials hr {
  margin-left: 50%;
}

.whitebox {
  margin-top: 5em;
  background-color: white;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(227,218,227,1);
-moz-box-shadow: 10px 10px 5px 0px rgba(227,218,227,1);
box-shadow: 10px 10px 5px 0px rgba(227,218,227,1);
}

.whitebox p {
  padding: 2em;
  padding-bottom: 4em;
  padding-top: 1em;
  font-family: 'Raleway', sans-serif;
  font-weight: 300i;
  font-size: 1.3em;
  font-style: italic;
}

.span {
  font-size: 5em;
}

.areaofexpertise h4 {
  text-align: center;
  text-transform: capitalize;
  color: #27333c;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.areaofexpertise h5 {
  text-align: center;
  text-transform: capitalize;
  color: #27333c;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}

/*map and offices*/



.offices {
  background-color: #eeeeee;
    padding-bottom: 3em;
    margin-top: -1em;
}

.offices h1 {
  text-transform: capitalize;
   font-family: 'Raleway', sans-serif;
   color: #27333c;
   font-weight: 400;
   text-align: center;
   padding-top: .7em;
}

.callemail {
  display: grid;
  grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  width: 30%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1em;
}

.callemail .btn-primary {
    background-color: #27333c;
    color: white;
    border-color: #27333c;
}

.callemail .btn-primary:hover {
  background-color: white;
  color: #27333c;
  border-color: #27333c;
}

.callemail .btn-lg {
    padding: .5rem 1.9rem !important;
}

/* contactus form */

.contactus {
  padding-top: 5em;
}

.contactus h1 {
  text-align: left;
  font-family: 'Raleway', sans-serif;
   color: #27333c;
   text-transform: uppercase;
   font-size: 1.5em;
   padding-bottom: 2em;
   padding-left: 15px;
}

.container-fluid {
  padding:0px !important;
}

.form-horizontal {
    width: 60%!important;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
    }

    .form-control {
    line-height: 2.5;
    padding: .9rem .75rem !important;
    border: 1px solid #27333c !important;
  }

.col-sm-2 {
  font-size: 1.3em!important;
    max-width: 100% !important;
    font-weight: 200;
}

:focus {
    outline: none!important;
}

.form-group {
    margin-bottom: 2.3rem !important;
}

input {
  color: blue;
}

.form-group .btn-secondary {
  border-color: #27333c;
}

.form-group .btn-secondary:hover {
    color: white;
    background-color: #27333c;
    border-color: #27333c;
}

/*footer*/

footer .container-fluid {
      background-color: #27333c;
}

footer .container {
  display: grid;
  grid-gap: 10px;
    grid-template-columns: 300px 3fr 2fr 2fr;
    grid-auto-flow: column;
    /*grid-auto-rows: minmax(60px, auto);*/
    padding-top: 3em;
   width: 70%;
}

.social-links {
  padding-top: 3em;
}

footer ul {
  list-style: none !important;
    -webkit-padding-start: 0px;
}

.first img {
  width: 200px;
  padding-top: 20%;
}

.address li {
  font-family: 'Raleway', sans-serif;
  color: white;
  text-transform: capitalize;
  font-size: .9em;
}

.container .second .address ul li {
  display: inline;

}

.social-links li a{
  color: white;
  transition: .5s;

}

.social-links li a:hover {
  opacity: .3;
  transition: .5s;
}

.fird h2 {
  color: #808285;
  text-transform: uppercase;
  font-size: 1em;
}

.fird li a {
  text-transform: capitalize;
  font-size: .9em;
  transition: .5s;
  color: white;
}

.fird ul {
    line-height: 1.5em !important;
}

.fird li a:hover {
  text-decoration: none!important;
  opacity: .7;
  transition: .5s;
}

.four {
  padding-left: 3em;
}

.four h2 {
  color: #808285;
  text-transform: uppercase;
  font-size: .9em;
  transition: .5s;
}

.four h2:hover {
  opacity: .7;
  transition: .5s;
}

 a:hover {
  text-decoration: none!important;
 }

 .four .btn-secondary {
  margin-bottom: 1em;
  background-color: #27333c;
  color: white;
 }

 .copyright {
  background-color: #3c474f;
  color: white;
  font-size: .7em;
  padding-top: 1%;
  padding: 1% 9em; 
 }


.fa {
  padding-right: .3em;
}

/* media queries */

@media only screen and (max-width : 75em) {

.container-welcome {
    width: 70%;
    }

    .whitebox {
    width: 40%;
  }

  footer .container {
    width: 80%;
}
}

@media only screen and (max-width : 62em) {

.header h1 {
    font-size: 1.5em;
  }

  .header li a {
    padding: 10px 10px;
  }

  .header .container {
    width: 90%;
  }

  .display-3 {
    font-size: 3.5rem!important;
  }

  .jumbotron {
    height: 40em;
  }

  .welcome h1 {
    font-size: 2em;
}

.welcome img {
    height: 15em;
}

.areaofexpertise .testimonials h1 {
    margin-top: 3em;
}

.whitebox {
    width: 50%;
}

.whitebox p {
    padding-bottom: 3em;
    padding-top: .5em;
  }

  .offices h1 {
    font-size: 2em;
}

.offices {
    padding-bottom: 2em;
    }

    .contactus .container {
      width: 90%;
    }

    footer .container {
    width: 90%;
}

footer .container {
    grid-template-columns: 230px 3fr 2fr 2fr;
    }
}

@media only screen and (max-width : 48em) {

.header h1 {
    display: none;
}

.header a {
  color: black;
}

.header a:hover {
  opacity: .7;
}

.logo img {
    width: 170%;
}

.display-3 {
    font-size: 3rem!important;
}

.btn-lg {
    padding: .5rem 1rem !important;
}

.jumbotron {
    height: 37em;
}

.welcome h1 {
    font-size: 1.9em;
}

.welcome img {
    height: 13em;
}

.welcome p {
    font-size: .9em;
    line-height: 1.7em;
}

.picture .btn-lg {
    padding: .5rem .7rem !important;
    font-size: .7rem;
}

.text .btn-lg {
    padding: .5rem .9rem !important;
    font-size: .7rem;
}

.whitebox {
    width: 60%;
}

.form-horizontal {
    width: 80%!important;
}

.first img {
    width: 150px;
    }

    .address li {
    font-size: .8em;
}

footer .container {
    grid-template-columns: 170px 3fr 2fr 2fr;
}

.fird li a {
    font-size: .7em;
  }

  .fird ul {
    line-height: 1.1em !important;
}

.fird h2 {
    font-size: .9em;
}

.four h2 {
    font-size: .6em;
    }
}

@media only screen and (max-width : 30em) {
                 .header {
  background-color: green!important;
}
.logo img {
    width: 330%;
}

.display-3 {
    font-size: 2rem!important;
}

.jumbotron .secondheader {
    font-size: 1.7em;
}

.background {
    padding-top: 40%;
}

.btn-lg {
    font-size: .9rem!important;
}
.welcome h1 {
    font-size: 1.2em;
}

.container-welcome {
    grid-template-columns: 1fr;
}

.container-welcome {
    padding-top: 1em;
}

.areaofexpertise h1 {
    font-size: 1.3em;
    }

    .area {
    margin-top: 4em;
}

.whitebox p {
    font-size: 1em;
    }

    .areaofexpertise h4 {
    font-size: 1em;
}

.areaofexpertise h5 {
  font-size: 1em;
}

.offices h1 {
    font-size: 1.3em;
}

.contactus h1 {
    font-size: 1em;
  }

  .col-sm-2 {
    font-size: 1em!important;
  }
  .form-control {
    padding: .3rem .75rem !important;
  }

  .contactus .container {
    width: 100%;
}

.contactus {
    padding-top: 1em;
}

footer .container {
    display: block;
  }

  .first img {
    display: none;
}

.four {
    margin-top: -25em;
    float: right;
}
.four h2 {
    font-size: .9em;
}

.copyright {
    padding: 1% 2em;
    margin-top: -2em;
}
}