

/* media queries */

@media only screen and (max-width : 75em) {

.container-welcome {
    width: 70%;
    }


  footer .container {
    width: 80%;
}
}

@media only screen and (max-width : 62em) {

.header h1 {
    font-size: 1.5em;
  }

  .header li a {
    padding: 10px 10px;
  }

  .header .container {
    width: 100%;
  }

  .display-3 {
    font-size: 3.5rem!important;
  }

  .jumbotron {
    height: 40em;
  }

  .welcome h1 {
    font-size: 2em;
}

.areaofexpertise .testimonials h1 {
    margin-top: 0;
}

    .contactus div.wpcf7 {
        width: 95%;
    }
.whitebox p {
    padding-bottom: 3em;
    padding-top: .5em;
  }

  .offices h1 {
    font-size: 2em;
}

.offices {
    padding-bottom: 2em;
    }

    .contactus .container {
      width: 90%;
    }

    footer .container {
    width: 90%;
}

footer .container {
    grid-template-columns: 230px 3fr 2fr 2fr;
    }
}

@media only screen and (max-width : 48em) {

.header h1 {
    display: none;
}

.header a {
  color: black;
}

.header a:hover {
  opacity: .7;
}

.logo img {
    width: 200px;
    margin-top: 10px;
}

.display-3 {
    font-size: 3rem!important;
}

.btn-lg {
    padding: .5rem 1rem !important;
}

.jumbotron {
    height: 37em;
}

.welcome h1 {
    font-size: 1.9em;
}

.welcome p {
    font-size: .9em;
    line-height: 1.7em;
}

.picture .btn-lg {
    padding: .5rem .7rem !important;
    font-size: .7rem;
}

.text .btn-lg {
    padding: .5rem .9rem !important;
    font-size: .7rem;
}


.form-horizontal {
    width: 80%!important;
}

.first img {
    padding-top:0;
    }

    .address li {
    font-size: .8em;
}

footer .container {
    grid-template-columns: 170px 3fr 2fr 2fr;
}

.fird li a {
    font-size: .7em;
  }

  .fird ul {
    line-height: 1.1em !important;
}

.fird h2 {
    font-size: .9em;
}

.four h2 {
    font-size: .6em;
    }
}

@media only screen and (max-width : 30em) {
    header {
        height: 77px !important;
    }
.logo img {
    width: 330%;
}

.display-3 {
    font-size: 2rem!important;
}

.background {
    padding-top: 40%;
}

.btn-lg {
    font-size: .9rem!important;
}
.welcome h1 {
    font-size: 1.2em;
}

.container-welcome {
    grid-template-columns: 1fr;
}

.container-welcome {
    padding-top: 1em;
}

.areaofexpertise h1 {
    font-size: 1.3em;
    }


.whitebox p {
    font-size: 1em;
    }

    .areaofexpertise h4 {
    font-size: 1em;
}

.areaofexpertise h5 {
  font-size: 1em;
}

.offices h1 {
    font-size: 1.3em;
}

.contactus h1 {
    font-size: 1em;
  }

  .col-sm-2 {
    font-size: 1em!important;
  }
  .form-control {
    padding: .3rem .75rem !important;
  }

  .contactus .container {
    width: 100%;
}

.contactus {
    padding-top: 1em;
}
.contact_maps {
    width: 100%;
    float: none;
}
.contact_text {
    width: 100%;
    float: none;
}
    .contact_maps iframe {
        height: 300px !important;
    }

footer .container {
    display: block;
  }


footer .four {
    float: none;
    padding-left: 0;
    text-align: center;
}
.four h2 {
    font-size: .9em;
}
   footer .first {
        text-align: center;
        margin-bottom: 1em;
    }
    footer .second {
        text-align: center;
    }
    footer .fird {
        text-align: center;
    }
.copyright {
    padding: 1em 0;
    margin-top: 0;
    text-align: center;
}
    
    
    
/*    ATTORNEYS PAGE*/
    
    .attorney_img {
        width: 100%;
        height: 300px;
        float: none;
    }
    
    .attorney_bio {
        width: 100%;
        float: none;
        padding-left: 0;
        margin-top: 25px;
        text-align: center;
        padding: 20px 0;
    }
    .attorney_bio p {
        text-align: center;
        width: 90%;
        margin: 0 auto;
    }
    .practice_areas_scroller > div{
        width: 100%;
        float: none;
        border-right: 0;
        margin-bottom: 15px;
        border-bottom: 2px solid rgba(192, 196, 198, 0.7);
    }
    .jumbotron#page_about {
        height:350px;
        margin-top: 100px !important;
    }
    
    
    
    /*HOME*/
    .container-welcome {
        display: block;
        text-align: center;
        width:85%;
        
    }
    .container-welcome > div {
        display: block;
        width:100%;
    }
    .container-welcome .text {
        margin-bottom: 50px;
    }
    .container-welcome .picture img {
        width: 100%;
    }
    hr.style1 {
        width: 100%;
        float: none;
    }
    .areaofexpertise .testimonials hr {
        margin-left: 0;
    }
    .areas_expertise div{
        margin-bottom: 20px;
    }
    .whitebox {
        width: 85%;
    }
    .callemail{
        width: 50%;
        margin: 0 auto;
    }
    .offices {
        padding-top: 20px;
    }
    
    
/*    MENU*/
    .header .menu {
/*        max-height: 240px;*/
    }
    .header .logo {
        width: 180px;
    }
    .logo img {
        width: 100%;
    }
    .container-fluid#contact_page {
        margin-top: 77px;
    }
    section#practice_page {
    margin-top: 77px;
}
    .translate_bar {
        padding-left: 1em;
        padding-right: 1em;
    }
    #contact_number p {
        font-size: 15px;
    }
    .header .logo {
        padding: 0px 10px;
    }
    
/*    PRACTICE AREAS*/
    div.tab_sidebar {
        display: none;
    }
    section#tabbed_content {
        width: 100%;
        padding-left: 0;
    }
    
    .third {
        text-align: center;
    }
    .social-links {
        margin: 0 auto;
        text-align: center;
    }
    .background {
        padding-left: 0;
        text-align: center;
        height: 500px;
    }
    .jumbotron {
        height: 500px;
    }
    .display-3 {
        text-align: center;
        display: none;
    }
    .jumbotron .secondheader {
        text-align: center;
        width: 90%;
        margin: 0 auto;
        display: none;
    }
    .attorney_img h3 {
        bottom: 0;
        width: 100%;
        padding: 15px 30px;
    }
    .jumbotron .btn-primary {
        display: none;
    }
    .jumbotron h1 {
        width: 100% !important;
        bottom: 0 !important;
        margin-bottom: 0 !important;
        padding: 15px 30px !important;
    }
    .practice_area_container .practice_area {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    section#blog_posts {
        width: 100%;
        margin: 0 auto;
    }

}
@media only screen and (max-width : 768px) {
        .translate_bar p.tel,
    #contact_number p{
        display: none;
    }
}
@media only screen and (max-width : 500px) {
        .background {
        height: 300px;
        background-repeat: no-repeat;
        max-height: 300px;
        background-size: contain;
            margin-top: 128px;
            padding-right: 30px;
    }
    .welcome {
        padding-top: 10%;
    }
    .slick-track {
        max-height: 300px !important;
    }
    .jumbotron .btn-primary{
        display: none;
    }
    .jumbotron h1 {
        font-size: 20px !important;
    }
    .jumbotron {
        height: 300px;
        max-height: 300px;
    }
    .jumbotron button.slick-arrow {
        display: none !important;
    }
    .contact_switcher,
    .contact_area{
        width: 90%;
    }
    footer .container > div {
        width: 100%;
    }

}
